.page_index{
    position: relative;
    .studyRoom_background{
        width: 100%;
        height: 100%;
        position: fixed;
        background-size: 100% 100%;
        z-index: -1;
        -webkit-filter: opacity(15%);
        filter: opacity(15%);
    }
    .studyRoom_page {
        height: 100%;
        .studyRoom_page_title {
            font-size: 35rpx;
            position: absolute;
            margin:22rpx 25% 0 25%;
            width: 50%;
            text-align: center;
            .page_title_content {
                .page_title_item{
                    width: 80%;
                    display: inline-block;
                    line-height: 80rpx;
                    border-radius: 18px;
                    background-color: #eff1f1;
                    color: black;
                }
            }
        }
      
        .studyRoom_page_content {
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            margin-top:130rpx; 
            // background-color: yellow;
            text-align: center;
            width: 90%;
            .wechat_ranking {
                .wechatRank_list {
                    margin-top: 10rpx;
                    overflow: hidden;
                    .wechatRank_item {
                        border-bottom: solid #e9e9e9 2rpx;
                        position: relative;
                        align-items: center;
                        height: 140rpx;
                        background-color: #fefefe;
                        justify-content: flex-end;
                        display: flex;
                        padding-right: 10rpx;
                        .wechatRank_userNumber{
                            color: #191919;
                            font-size: 35rpx;
                            position: absolute;
                            left:0rpx;
                            line-height: 1.6em;
                            font-weight: bolder;
                            text-align: center;
                            width: 80rpx;
                        }
                        .wechatRank_userHead{
                            font-variant: small-caps;
                            margin: 0;
                            padding: 0;
                            display: inline-flex;
                            text-align: center;
                            justify-content: center;
                            align-items: center;
                            white-space: nowrap;
                            width: 96rpx;
                            height: 96rpx;
                            background-size: cover;
                            background-position: center;
                            vertical-align: middle;
                            position: absolute;
                            left: 80rpx;
                            border-radius: 5000rpx;
                        }
                        .wechatRank_userName{
                            color: #191919;
                            font-size: 30rpx;
                            position: absolute;
                            left: 196rpx;
                            // width: calc(100% - 96rpx - 60rpx - 120rpx - 20rpx);
                            line-height: 1.6em;
                        }
                        .wechatRank_userScore{
                            font-size: 38rpx;
                            font-weight: bold;
                            width: 100rpx;
                            text-align: center;
                            color:#f7941d;
                            margin-right: 40rpx;
                        }
                    }
                }
                .studyRoom_bottom{
                    margin-top: 310rpx;
                    bottom: 10rpx;
                    .studyRoom_bottom_text{
                        font-size: 26rpx;
                    }
                }
              }
        }
    }
}
